h2 {
	padding: 0;
	margin: 0;
}

.player-container-wrapper {
	background-color: #efefef;
	padding: 20px;
	width: 48%;
	margin-right: 2%;
	float: left;
}

.iframe-player {
	width: 100%;
	height: 500px;
}

.chat-container {
	display: none;
}

.chat-container.active {
	width: 100%;
	height: 500px;
	display: block;
}